{% extends 'app/base.html' %} {% block content %}

<div class="header-bar">
  <h1>Login</h1>
</div>

<div class="card-body">
  {% if messages %} {% for message in messages %}
  <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endfor %} {% endif %}
  <form method="POST">
    {% csrf_token %} {% comment %} {{form.as_p}} {% endcomment %}
    <div class="my-1">
      <label for="email_username">Email or Username:</label>
      <input
        id="id_email_username"
        type="text"
        name="email_username"
        placeholder="Email or Username"
      />
    </div>
    <div class="my-1">
      <label for="password">Password:</label>
      <input
        id="id_password"
        type="password"
        name="password"
        placeholder="Password"
      />
    </div>
    <input class="button" type="submit" value="Login" />
  </form>
  <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>

{% endblock content %}
